### NUMBERS

### Write an equation using multiplication, division , an exponent, addition and substraction that is equal to 125.26

In [1]:
def f(x):
    return x*x*x + 0.26
f(5)

125.26

### Answer these three questions without typing code. then type code to check your answer 

- What is the value of expression 4 * (6 + 5) ---> 44
- What is the value of expression 4 * 6 + 5 ---> 29
- What is the value of expression 4 + 6 * 5 ---> 34

In [4]:
print(4*(6+5))

44

In [5]:
print(4*6+5)

29

In [6]:
print(4+6*5)

34

### What is the type of the result of the expression 3 + 1.5 + 4?

In [8]:
#float
type(3+1.5+4)

float

### What would you use to find the nnumber's square root, as well as square?

In [40]:
# Square root: number ** 0.5

print(9**0.5)

3.0

In [41]:
# Square: number ** 2
print(3**2)

9

# STRINGS

### Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below.

In [1]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

### Reverse the string 'hello' using slicing

In [10]:
s = 'hello'
# Reverse the string using slicing
s[::-1]

'olleh'

### Given the string hello, give two methods of producing the letter 'o' using indexing.

In [12]:
s = 'hello'
# Print out the 'o'

# Method 1: 
s[4]

'o'

In [13]:
# Method 2:
s[-1]

'o'

# LISTS

### Build this list [0,0,0] in two separate ways

In [14]:
# Method 1:
list1 = [0,0,0]
list1

[0, 0, 0]

In [15]:
# Method 2:
list2 = [0] * 3
list2

[0, 0, 0]

### Reassign 'hello' in this nested list to say 'goodbye' instead

In [18]:
list1 = [1,2,[3,4,'hello']]
list1[2][2] = 'goodbye'
list1

[1, 2, [3, 4, 'goodbye']]

### Sort the list bellow:

In [20]:
list2 = [5,3,4,6,1]
list2.sort()
list2

[1, 3, 4, 5, 6]

# DICTIONARIES

### Using keys and indexing, grab the 'hello' from the following dictionaries:

In [21]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [22]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [30]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
# Grab 'hello'
d['k1'][0]['nest_key'][1][0]

'hello'

In [28]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
# Grab 'hello'
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

### Can you sort a dictionary? Why or why not?

In [ ]:
# Though a dictionary is not an ordered object, we can sort a dictionary using python's built-in sorted() function. This function returns a new list that is sorted based on the key column leaving the original object unchanged. If we want a sorted copy of the entire dictionary, we use dictionary items() functions that is passed as a parameter to the sorted() function.

# TUPLES

### What is the major difference between tuples and lists?

In [ ]:
#Lists are mutable objects while tuples are immutable objects.

### How do you create a tuple?

In [31]:
#It is defined within parentheses () where items are separated by commas.
t = (1,2,3)
t

(1, 2, 3)

# SETS

### Use a set to find the unique values of the list bellow:

In [32]:
list3 = [1,2,2,33,4,4,11,22,3,3,2]
set(list3)

{1, 2, 3, 4, 11, 22, 33}

# BOOLEANS

### What will be the resulting Boolean of the following pieces of code (answer first them check by typing it in!)

In [38]:
2 > 3 #false

False

In [34]:
3 <= 2 #false

False

In [35]:
3 == 2.0 #false

False

In [36]:
3.0 == 3 #true

True

In [37]:
4**0.5 != 2 #false

False

### What is the boolean output of the cell block below?

In [39]:
#  two nested lists
1_one = [1,2,[3,4]]
2_two = [1,2,{'k1':4}]

# True or False?
1_one[2][0] >= 1_two[2]['k1'] #error : variable cannot be started with numbers

SyntaxError: invalid token (<ipython-input-39-cec047accbf9>, line 2)

## GOOD JOB!!